@import '~styles/settings';
@import '~styles/utils';

.opinion-detail {
  width: 100%;

  .video-container {
     position: relative;
     height: 0;    
     padding-bottom: percentage(315/560); //alto * 100 / ancho    
     .video {
       position: absolute;
       left: 0;
       top: 0;
       height: 100%;
       width: 100%;
     }
  }

  .opinion-image {
    max-width: 100%;
  }
  .title-category {
    text-transform: uppercase;
    color: $important-text-color;
    font-family: $font-family-detail-category;
    font-weight: 600;    
    @include fontSize($font-size-l);
    @include for-tablet-landscape {
      @include fontSize($font-size-xxl);
    }
  }

  .title-container {
    display: flex;
    margin-left: 10px;
    width: 80%;
    flex-direction: column;

    .opinion-title {
      @include fontSize($font-size-xxl);
      @include for-tablet-landscape {
        @include fontSize($font-size-xxxl);
      }
      margin-top: 5px;
      margin-bottom: 0;
      color: $secondary-text-color;      
    }    
  }

  .description-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .opinion-detail-description { 
      line-height: 1.70;
      color: $primary-text-color;   
      width:80%;
      font-family: $font-family-detail-description;
      font-weight: 400;
      @include for-tablet-landscape {
        @include fontSize($font-size-xxl);
      }
    }
  }

  .opinion-image-author {
    max-width: 60px;
    border-radius: 40px;
    margin-right: 10px;
  }

  .opinion-author {
    margin-left: 10px;
    margin-top: 2px;
    text-transform: uppercase;
    color: $secondary-text-color;
    font-family: $font-family-detail-category;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    display: flex;
    height: 60px;
    align-items: center;
    margin-right: 30px;
    @include for-tablet-landscape {
      @include fontSize($font-size-xxl);
    }
  }

  .back {
    margin-top: 5px;
    margin-left: 20px;
    color: $important-text-color;
    text-decoration: none;
    @include fontSize($font-size-xxxxl);
  }

  .like-button {
    outline-width: 0;
    @include fontSize($font-size-xl);
    @include for-tablet-landscape {
      @include fontSize($font-size-xxxl);
    }
    background-color: transparent;
    color: $important-text-color;
    border: none;
  }  
}