@import 'normalize';
@import '~styles/utils';
@import '~styles/settings';

body {
  padding-bottom: $footer-height + 60px;
  font-family: $font-family-main;
}

h1 {
  @include fontSize($font-size-xxxl);
  
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  //margin-top: 10px;
  width: 100%;
    align-items: center;
}