@import 'utils';


$white: #fefefe;
$gray: #373737;
$darkgray: #2A2A2A;
$lightgray: #989898;
$rose: #CC4D86;
$darkwhite: #F4F4F4;
$red: red;

$background-color: $white;
$secondary-color: $darkwhite;
$border-color: $lightgray;
$primary-header-color: $gray;
$primary-text-color: $lightgray;
$secondary-text-color: $darkgray;
$important-text-color: $rose;

$error-color: $red;

$box-shadow-default: 1px -5px 5px -5px $gray;

$font-size-xxxxl: 54;
$font-size-xxxl: 36;
$font-size-xxl: 24;
$font-size-xl: 20;
$font-size-l: 16;
$font-size: 14;
$font-size-xs: 10;
$font-size-xxs: 8;

$gutter-padding: 30px;

$font-family-detail-category: 'Arial';
$font-family-detail-description: 'Georgia';
$font-family-main: 'Poppins', sans-serif;


// Breakpoints

$breakpoint-tablet-portrait: 600px;
$breakpoint-tablet-landscape: 900px;
$breakpoint-desktop: 1200px;

$header-height: 350px;
$footer-height: 150px;

@keyframes heartRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}