<footer>
  <div class="title-container">
    <i class="fas fa-comment comment-icon">pinions</i>
    <div class="copiright">© 2018 Opinions. All rights reserved.</div>
  </div>
  <nav class="social">
      <i class="fab fa-twitter social-icon"></i>
      <i class="fab fa-facebook-square social-icon"></i>
      <i class="fab fa-google-plus-g social-icon"></i>
  </nav>
</footer>