<header>
  <div class="header-principal">
    <div class="title-container">
      <i class="fas fa-comment comment-icon"></i>
      <h1 id="title" class="title">pinions</h1>
    </div>
    <nav class="menu">
      <div class="menu-wrapper">       
        <div class="link-wrapper">      
          <a title="home" id="home" class="home" href='/'>Home</a>      
          <a title="login" id="login" href='/'>Log in</a>
          <a title="signup" id="signup" href='/'>Sign up</a>        
        </div>        
        <input class="search" type="text" name="search" id="search" placeholder="Buscar opiniones">
      </div>
      <a id="hamburger-icon" class="hamburger-icon" href="#">
        <i class="fa fa-bars"></i>
      </a>
    </nav>
  </div>
  <nav class="header-categories">
    <a title="culture" id="culture" href='/'>Cultura</a>
    <a title="sport" id="sport" href='/'>Deporte</a>
    <a title="technology" id="technolgy" href='/'>Tecnologia</a>
  </nav>
</header>