<header>
  <div class="header-principal">
    <div class="title-container">
      <i class="fas fa-comment comment-icon"></i>
      <h1 id="title" class="title">pinions</h1>
    </div>
    <div class="menu">
      <div class="login">
        <a title="login" id="login" href='/'>Log in</a>
        ¿Aun no eres miembro?, date de alta <a title="signup" id="signup" href='/'>ahora</a>       
      </div>
      
      <input class="search" type="text" name="search" id="search">      
      <a id="hamburger-icon" class="hamburger-icon" href="#">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
  <div class="header-categories">
    <a title="culture" id="culture" href='/'>Cultura</a>
    <a title="sport" id="sport" href='/'>Deporte</a>
    <a title="technology" id="technolgy" href='/'>Tecnologia</a>
  </div>
</header>