<div class="container">
  <form id="opinions-form">
    <div class="opinions-form-field">
      <label for="title">Title</label>
      <input class="opinions-input" type="text" name="title" id="opinions-form-title">
    </div>
    <div class="opinions-form-field">
      <label for="author">Author</label>
      <input class="opinions-input" type="text" name="author" id="opinions-form-author">
    </div>
    <div class="opinions-form-field">
      <label for="imageUrl">IMAGE URL</label>
      <input class="opinions-input" type="text" name="imageUrl" id="opinions-form-imageUrl">
    </div>
    <input type="submit" value="Submit" id="opinions-form-submit" />
    <button id="cancel-opinions-form">Cancel</button>
  </form>
</div>
