@import '~styles/settings';

footer {
  
  height: $footer-height;
  box-sizing: border-box;
  position: fixed;
  background-color: $white;
  bottom: 0;
  width: 100%;
  padding: 10px 10px;
  color: $lightgray;
  border-top: 1px solid $border-color;
  display: flex;
  align-items: center;
  justify-content: space-between; 

  .title-container {    
    .comment-icon {
      @include fontSize($font-size-xxl);
      @include for-mobile {
        @include fontSize($font-size-xl); 
      }
      
      color: $lightgray;
      padding-right: 5px;
    }
    .copiright {
      @include fontSize($font-size);
      @include for-mobile {
        @include fontSize($font-size-xs); 
      }
      padding: 10px 0;
    }
  }
  .social-icon {    
    @include fontSize($font-size-xxl);
    @include for-mobile {
      @include fontSize($font-size); 
    }
    padding: 0 5px;
  }
  
}