@import '~styles/settings';
@import '~styles/utils';


.opinion {
  margin: $gutter-padding / 2;
  @include for-tablet-landscape {
    display: flex;
  }      
  .opinion-image-container { 
    .opinion-image {
      width: 250px;
      @include for-tablet-landscape {
        width: 450px;
      }
      height: 250px;
      object-fit: cover;
    }

    .opinion-date {
      @include fontSize($font-size);
      color: $primary-text-color;
    }

       
    .video {
      width: 250px;
      height: 250px;
      @include for-tablet-landscape {
        width: 450px;
        height: 250px;
      }        
    }
         
  }
  
  .opinion-title-container {
    padding: 0px 5px;
    .opinion-title {
      text-decoration: none;
      @include fontSize($font-size-xl);
      font-weight: bold;      
      margin-top: 5px;
      margin-bottom: 0;
      color: $important-text-color;
    }

    .opinion-author {
      margin-top: 2px;
      text-transform: uppercase;
      @include fontSize($font-size);
      color: $primary-text-color;
    }

    .opinion-description {
      width: 250px;
      height: 150px;
    }
  } 
}