@import '~styles/settings';
@import '~styles/utils';


.opinion {
  margin: $gutter-padding / 2;
  @include for-tablet-landscape {
    display: flex;
  }      
  .opinion-image-container { 
    .opinion-image {
      width: 250px;
      @include for-tablet-landscape {
        width: 450px;
      }
      height: 250px;
      object-fit: cover;
      border-radius: 10px;
    }

    .opinion-date {
      @include fontSize($font-size);
      color: $primary-text-color;
    }

    .video-container {
     // position: relative;
     // height: 0;        
      .video {
        width: 250px;
        @include for-tablet-landscape {
          width: 450px;
        }
        /*position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;*/
      }

    }     
  }
  
  .opinion-title-container {
    padding: 0px 5px;
    .opinion-title {
      text-decoration: none;
      @include fontSize($font-size-xl);
      font-weight: bold;      
      margin-top: 5px;
      margin-bottom: 0;
      color: $important-text-color;
    }

    .opinion-author {
      margin-top: 2px;
      text-transform: uppercase;
      @include fontSize($font-size);
      color: $primary-text-color;
    }

    .opinion-description {
      width: 250px;
      height: 150px;
    }
  } 
}